<!DOCTYPE html>
<html>
  <head>
    <title>RailsPwa</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <nav>
      <%= link_to 'RAILS PWA', root_path %>
    </nav>
    <%= yield %>
  </body>
</html>
